// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.ios, .md{
    ion-card{
        background-color: map-get($colors, florest-green);
        border: solid;
        border-color: map-get($colors, dark-green);
        border-radius: 10px;
    }
    
    ion-card-header{
        background-color: map-get($colors, dark-green);
        font-size: 18px;
        color: white;
    }
    
    ion-card-header ion-item{
        background-color: map-get($colors, dark-green);
        color: white;
        font-size: 18px;
        padding: 0px;
    }
    
    ion-card-header ion-item > button{
        background-color: map-get($colors, primary);
        color: white;
    }

    ion-card-content{
        margin-top: 15px;
    }
    p{
        font-size: 18px;
    }

    .toolbar-background {
        background-color: map-get($colors, florest-green); 
    }
    
    .toolbar-title, .bar-button-default{
        color: white;
    }
    
    ion-content {
        background-color: map-get($colors, ligth-gray);
        
    }
    
    .sub-total{
        border-style: dashed;
        border-top-width: 3px;
        border-color: map-get($colors, orange);
    }
    
    
    .sub-total span, .sub-total ion-icon{
        color: map-get($colors, orange);
    }
   
    
    .sub-total-final ion-card-header{
        background-color: map-get($colors, orange);
    }
    .sub-total-final > ion-item{
        color: map-get($colors, orange);
    }
    
    .sub-total-final ion-list > ion-item{
        color: map-get($colors, primary);
    }
    
    ion-list button ion-icon{
        color: map-get($colors, primary);
    }
    
    ion-grid{
        background-color: white;
    }
    
    ion-grid ion-row ion-col{
        font-size: 18px;
        border-style: double;
        border-color: map-get($colors, orange);
        color: map-get($colors, orange);
        text-align: center;
    }
    
    ion-grid ion-row ion-col ion-item{
        color: map-get($colors, primary);
    }
    
    .grid-title > ion-col{
        border-style: none;
    }
    
    
}